body {
  font-family: Arial, sans-serif;
  background-color: #c9c4c4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

form {
  background-color: #dad4d4;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #994040;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #488a6f;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ba4a4a;
  cursor: not-allowed;
}

p {
  text-align: center;
  color: #555;
}

p a {
  color: #d53533;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
